### Pr치ctica 1, FRAUDES

In [63]:
import pandas as pd
import numpy as np
import plotly.express as px
from matplotlib import pyplot as plt

In [46]:
###  Parametrizaci칩n
ruta = '../data/raw/Original_dataset_payments_fraud.csv'

In [47]:
df_fraude = (pd.read_csv(ruta, sep = ';')
        .assign(**{'connection_time': lambda df: df['connection_time'].str.replace(',', '.').astype(float)})
)

In [48]:
# imprimimos el nombre de las columnas
print(list(df_fraude.columns))

['step', 'type', 'amount', 'gender', 'device', 'connection_time', 'nameOrig', 'race', 'oldbalanceOrg', 'age', 'newbalanceOrig', 'zone', 'user_number', 'nameDest', 'user_connections', 'security_alert', 'oldbalanceDest', 'newbalanceDest', 'isFraud']

In [49]:
# shape of data
print(f' El tama침o del dataset es: {df_fraude.shape}')

 El tama침o del dataset es: (1048575, 19)

La variable objetivo es isfraud.

In [50]:
print(df_fraude.isnull().sum())

step                     0
type                     0
amount                   0
gender              105118
device              104580
connection_time          0
nameOrig                 0
race                105163
oldbalanceOrg            0
age                      0
newbalanceOrig           0
zone                104414
user_number              0
nameDest                 0
user_connections         0
security_alert           0
oldbalanceDest           0
newbalanceDest           0
isFraud                  0
dtype: int64

las columnas zone, gender, device y race contienen valores nulos

In [51]:
 #exploring transaction type
print(df_fraude['type'].value_counts())

CASH_OUT    373641
PAYMENT     353873
CASH_IN     227130
TRANSFER     86753
DEBIT         7178
Name: type, dtype: int64

In [65]:
df_fraude[['type','isFraud']].groupby('type').sum()

          isFraud
type
CASH_IN         0
CASH_OUT      578
DEBIT           0
PAYMENT         0
TRANSFER      564